@mixin box-shadow($x, $y, $blur, $spread, $color, $inset:null){
	-webkit-box-shadow:$x $y $blur $spread $color $inset;
	-moz-box-shadow:$x $y $blur $spread $color $inset;
	-o-box-shadow:$x $y $blur $spread $color $inset;
	-ms-box-shadow:$x $y $blur $spread $color $inset;
	box-shadow:$x $y $blur $spread $color $inset;
}

hr{
	color:#dedfe5;
	margin-bottom:1.5em;
}

html{
	background-color:#393E41;
}

body{
	/*background-color:#242729;*/
	background-color:#0d0e1c;
	/*@include box-shadow(0px, 0px, 30px, 0px, #605434);*/
	margin:0 auto 0 auto;
	padding: 2vw;
	/*max-width:1280px;*/
	font-family:"Montserrat", "Calibri", "sans-serif";
	color:#dedfe5;
	font-size:1.2em;
}

h1,h2,h3{
	font-family:Raleway;
}

p{
	line-height: 1.75;
}


header{
	display:grid;
	grid-template-columns:10% 75%;
	grid-column-gap:2em;
	img{
		border-radius:50%;
		@include box-shadow(0px, 0px, 2px, 0px, #dedfe5);
		width:100%;
		margin:auto;
	}

	h1,h2{
		margin:0;
	}

	h2>span{
		margin:1em;
	}

}

.text{
	opacity:0;
	background-color: #282B56;
	padding:1vw 2vw 1vw 2vw;
	border-radius:8px;
}


main{
	h2{
		margin-bottom:0;
	}
	#about{
		>div{
			img{
				width:50%;
				position: absolute;	
				transform: rotate(-38deg);
				bottom:-60px;
				right:-60px;
				z-index: -1;
				opacity:0.5;
			}


			#english{
				-webkit-animation: fadeIn 1s ease-out 0.2s forwards;
			    -moz-animation: fadeIn 1s ease-out 0.2s forwards;
			    -ms-animation: fadeIn 1s ease-out 0.2s forwards;
			    -o-animation: fadeIn 1s ease-out 0.2s forwards;
			    animation: fadeIn 1s ease-out 0.2s forwards;
			}

			#french{
				-webkit-animation: fadeIn 1s ease-out 0.5s forwards;
			    -moz-animation: fadeIn 1s ease-out 0.5s forwards;
			    -ms-animation: fadeIn 1s ease-out 0.5s forwards;
			    -o-animation: fadeIn 1s ease-out 0.5s forwards;
			    animation: fadeIn 1s ease-out 0.5s forwards;
			}

			p{
				text-align:justify;
				span{
					margin: 1em
				}
			}
		}

	}

	#projects{
		>h2{
			opacity:0;
		}

		>div{
			opacity:0;
			section{
				border-radius:8px;
				padding:1em;
				/*@include box-shadow(0px, 0px, 2px, 1px, #CEB988);*/
				background-color:#282B56;
				transition: background-color 0.5s ease;

				h3{
					text-align: center;
					margin-bottom: 0.5em;
				}

				figure{
					margin:1em 0.5em 1em 0.5em;
					position:relative;
					>div{
						position:relative;
					}
					.magnifying-glass{
						position: absolute;
						top: 0px;
						left:0px;
						width:100%;
						margin:auto;
						opacity:0;
						cursor:pointer;
					}

					.magnifying-glass:hover{
						opacity:0.7;
					}

					>div>img{
						cursor:pointer;
						border-radius: 5px;
						@include box-shadow(0px, 0px, 1px, 0px, white);
					}
				}


				a{
					color:rgb(231, 218, 198);
					display:block;
					text-align: center;
					transition: color 0.3s ease;
				}

				a:hover{
					color:white;
				}

				p{
					text-align:center;
				}
			}

			section:hover{
				/*background-color:rgba(232,232,232,1);*/
				background-color: #4b4d70;
			}
		}	
	}
}

#contact{
	section{
		-webkit-animation: fadeIn 1s ease-out 0.7s forwards;
	    -moz-animation: fadeIn 1s ease-out 0.7s forwards;
	    -ms-animation: fadeIn 1s ease-out 0.7s forwards;
	    -o-animation: fadeIn 1s ease-out 0.7s forwards;
	    animation: fadeIn 1s ease-out 0.7s forwards;
	    text-align:center;

	    span{
	    	font-size:1.2em;
	    	vertical-align:middle;
	    }
	}
}

.fs-images{
	width:100%;
	margin:auto;
}

#close-button{
	position:absolute;
	top:-15px;
	right:-35px;
	cursor:pointer;
}

#close-button-hover{
	opacity:0;
	position:absolute;
	top:-15px;
	right:-35px;
	cursor:pointer;
}

#close-button-hover:hover{
	opacity:1;
}

#zoomed_image{
	border:10px solid #dedfe5;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#fs-image{
	position:fixed;
	top:50%;
	left:50%;
	width:70vw;
	max-height:90vh;
	margin-left:-35vw;
	margin-top:-45vh;
}

h1{
	-webkit-animation: fadeInTranslateX 1s ease-out forwards;
    -moz-animation: fadeInTranslateX 1s ease-out forwards;
    -ms-animation: fadeInTranslateX 1s ease-out forwards;
    -o-animation: fadeInTranslateX 1s ease-out forwards;
    animation: fadeInTranslateX 1s ease-out forwards;
}

@-moz-keyframes fadeInTranslateX {
    0% {
    	transform:translateX(-20px);
        opacity:0;
    }

    100% {
    	transform:translateX(0);
        opacity:1;
    }
}

@-webkit-keyframes fadeInTranslateX {
    0% {
    	transform:translateX(-20px);
        opacity:0;
    }

    100% {
    	transform:translateX(0);
        opacity:1;
    }
}

@keyframes fadeInTranslateX {
    0% {
    	transform:translateX(-20px);
        opacity:0;
    }

    100% {
    	transform:translateX(0);
        opacity:1;
    }
}


.startH2Animation{
	-webkit-animation: fadeInTranslateY 1s ease-out forwards;
    -moz-animation: fadeInTranslateY 1s ease-out forwards;
    -ms-animation: fadeInTranslateY 1s ease-out forwards;
    -o-animation: fadeInTranslateY 1s ease-out forwards;
    animation: fadeInTranslateY 1s ease-out forwards;
}

@-moz-keyframes fadeInTranslateY {
    0% {
    	transform:translateY(-20px);
        opacity:0;
    }

    100% {
    	transform:translateY(0);
        opacity:1;
    }
}

@-webkit-keyframes fadeInTranslateY {
    0% {
    	transform:translateY(-20px);
        opacity:0;
    }

    100% {
    	transform:translateY(0);
        opacity:1;
    }
}

@keyframes fadeInTranslateY {
    0% {
    	transform:translateY(-20px);
        opacity:0;
    }

    100% {
    	transform:translateY(0);
        opacity:1;
    }
}


.startProjectAnimation {
    -webkit-animation: fadeIn 1s ease-out forwards;
    -moz-animation: fadeIn 1s ease-out forwards;
    -ms-animation: fadeIn 1s ease-out forwards;
    -o-animation: fadeIn 1s ease-out forwards;
    animation: fadeIn 1s ease-out forwards;
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}

@media (min-width:600px) and (max-width:1000px){
	#projects{
		>div{
			display:grid;
			grid-template-columns:1fr 1fr;
			grid-column-gap:1em;
			grid-row-gap:1em;
		}
	}
}

@media (max-width: 600px){
	#projects
		>div{
			display:grid;
			grid-template-columns:100%;
			grid-row-gap:1em;
		}

}

@media (max-width:1000px){
	body{
		padding:0.5em;
		font-size:1em;
	}

	header{
		>div:nth-child(2){
			h1{
				font-size:2em;
			}

			h2{				
				font-size:1.2em;
			}
		}
	}

	main{
		#about
			>div{
				display:grid;
				grid-template-columns:1fr;
				grid-template-rows:repeat(2, 1fr);
				grid-row-gap:1em;
			}

		h2{
			font-size:1.3em;
		}

		h3{
			font-size:1.2em;
		}
	}
}

@media (min-width:1001px){

	header{
		>div:nth-child(2){
			h1{
				font-size:5.5vw;
				margin:0;
			}

			h2{
				margin:0;
				font-size:3vw;
			}
		}
	}

	main{
		#about
			>div{
				display:grid;
				grid-template-columns:repeat(2, 1fr);
				grid-column-gap:2em;

				section{
					border-radius:none;
				}
			}

		#projects>div{
			display:grid;
			grid-template-rows:repeat(3, 1fr);
			grid-template-columns:repeat(3, 1fr);
			grid-row-gap:1em;
			grid-column-gap:1em;
		}

		h2{
			font-size:2.5vw;
		}

		h3{
			font-size:2vw;
		}
	}

}